* {background: gray};
.Chat-App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: gray;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Add these styles */
.send-icon, .user-avatar {
  width: 32px;
  height: 32px;
}

.user-avatar {
  background-color: purple;
  color: white;
}

.send-icon {
  cursor: pointer;
}


.message-text {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type='text'] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

button:disabled {
  opacity: 0.5;
}

.loader {
  margin-left: 10px;
}
